[program:harmonic_worker]
user=root								; The User is set to root, in order to access privilaged ports, see issue https://github.com/HASTE-project/HarmonicIO/issues/9
directory=/home/ubuntu/HarmonicIO					; The absolute path is used as dictated by best practices
command=python3.5 -m harmonicIO.worker
autostart=true
autorestart=true
startretires=3
stdout_logfile=/home/ubuntu/HarmonicIO/harmonic_worker.log		; If relative path is used the log files aren't generated
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=2
stderr_logfile=/home/ubuntu/HarmonicIO/harmonic_worker.err
stderr_logfile_maxbytes=1MB
stderr_logfile_backups=2
